<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Supported By</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-3 col-md-4">&nbsp;</div>
                <div class="col-xs-10 col-sm-6 col-md-4 text-center">
                    <a href="#">
                        <img src="img/logos/MMU.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-xs-1 col-sm-3 col-md-4">&nbsp;</div>
            </div>
            <!--<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">In Collaboration With</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/MMUlogo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/MMUlogo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/MMUlogo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/MMUlogo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>-->
        </div>
    </aside>