<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Supported By</h2>
                </div>
            </div>
            <div class="row" style="text-align:center;">
                    <a href="https://www.mmu.edu.my/">
                        <img class="col-xs-10 col-sm-6 col-md-4" src="img/logos/MMU.png" class="img-responsive img-centered" style="float:none;" alt="">
                    </a>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">In Collaboration With</h2>
                </div>
            </div>
            <div class="row" style="text-align:center;">
                    <a href="http://sun.ventures/" >
                        <img class="col-md-3 col-sm-5 col-xs-8" src="img/logos/SUN.jpg" style="float:none;" alt="">
                    </a>
                    <a href="http://mmu-cnergy.com/v3/">
                        <img class="col-md-3 col-sm-5 col-xs-8" src="img/logos/CNERGY.png" style="margin-top: 70px; float:none;" alt="">
                    </a>
            </div>
        </div>
    </aside>